.banner {
  height: 500px;
  width: 100%;
  min-width: 1200px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  position: relative; }
  .banner .imgBox {
    width: 100%;
    height: 500px; }
    .banner .imgBox a {
      width: 100%;
      height: 500px;
      position: absolute;
      display: none; }
      .banner .imgBox a img {
        width: 100%;
        height: 500px; }
  .banner .pagechange {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0; }

.vip-outcon {
  width: 1200px;
  margin: -500px auto 0;
  height: 0;
  position: relative; }
  .vip-outcon .vip-con {
    width: 200px;
    height: 500px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: #fff; }
    .vip-outcon .vip-con .avatar {
      width: 80px;
      height: 80px;
      text-align: center;
      overflow: hidden;
      border-radius: 50%;
      margin: 10px auto 5px; }
      .vip-outcon .vip-con .avatar img {
        width: 80px;
        height: 80px; }
    .vip-outcon .vip-con .login-info {
      width: 150px;
      height: 75px;
      text-align: center;
      font-size: 12px;
      margin: 0 auto; }
      .vip-outcon .vip-con .login-info span {
        display: block;
        color: #333;
        line-height: 25px;
        margin-bottom: 6px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .vip-outcon .vip-con .login-info a {
        display: inline;
        line-height: 22px;
        width: 68px;
        height: 22px;
        border: 1px solid #333;
        text-align: center;
        padding: 3px 8px; }
      .vip-outcon .vip-con .login-info .register_button {
        border-color: #f42424;
        color: #f42424; }
    .vip-outcon .vip-con .vip-item {
      width: 100%;
      height: auto;
      position: relative; }
      .vip-outcon .vip-con .vip-item .tit {
        background-color: #eee;
        height: 24px;
        line-height: 24px;
        font-weight: bold;
        color: #555;
        padding-left: 18px; }
        .vip-outcon .vip-con .vip-item .tit .tab_head_item:first-child {
          padding-right: 10px;
          border-right: 1px solid #ccc;
          margin-right: 12px; }
      .vip-outcon .vip-con .vip-item .con {
        margin: 10px 18px;
        line-height: 22px;
        color: #555;
        height: 130px;
        overflow: hidden; }
        .vip-outcon .vip-con .vip-item .con li {
          width: 164px;
          height: 24px;
          overflow: hidden; }
          .vip-outcon .vip-con .vip-item .con li a {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
    .vip-outcon .vip-con .opacity3 {
      background-color: rgba(255, 255, 255, 0.3); }
      .vip-outcon .vip-con .opacity3 .tit {
        background-color: #eee;
        height: 24px;
        line-height: 24px;
        font-weight: bold;
        color: #555;
        padding-left: 18px; }
      .vip-outcon .vip-con .opacity3 .kj_con {
        padding: 0 9px;
        overflow: hidden;
        height: 131px;
        display: flex;
        justify-content: center;
        flex-direction: column; }
        .vip-outcon .vip-con .opacity3 .kj_con h3 {
          font-size: 16px;
          color: #2a5981;
          margin: 10px 0; }

.attached-search-container .mall-search {
  float: left;
  margin-left: 100px; }
  .attached-search-container .mall-search .shop-search {
    float: left;
    margin: 0; }
    .attached-search-container .mall-search .shop-search .search-form {
      float: left; }
    .attached-search-container .mall-search .shop-search .search-text {
      width: 378px;
      height: 34px;
      padding: 8px;
      border: 2px solid #0084cd;
      outline: 0;
      font-size: 12px;
      float: left;
      color: #999; }
    .attached-search-container .mall-search .shop-search .button-goods {
      margin-right: 8px; }
    .attached-search-container .mall-search .shop-search .button {
      border: 0;
      width: 70px;
      height: 34px;
      line-height: 34px;
      background-color: #0084cd;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      float: left;
      outline: 0; }

.attached-search-container .top-cart {
  position: relative;
  width: 150px;
  height: 34px;
  line-height: 34px;
  float: right; }
  .attached-search-container .top-cart a {
    display: block;
    color: #f42424; }
    .attached-search-container .top-cart a .iconfont {
      font-size: 20px; }
    .attached-search-container .top-cart a .count {
      min-width: 13px;
      height: 13px;
      line-height: 13px;
      padding: 1px;
      border-radius: 50%;
      background: #f42424;
      color: #fff;
      position: absolute;
      top: 0;
      left: 14px;
      text-align: center;
      font-size: 12px; }

.w1200 {
  margin: 0 auto; }
  .w1200 .company-wh {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px; }
    .w1200 .company-wh li {
      padding: 0px 5px; }
      .w1200 .company-wh li img {
        width: 100%; }
  .w1200 .brand-channel {
    width: 100%;
    margin-top: 20px; }
    .w1200 .brand-channel .index1.brand-list {
      width: 1200px; }
      .w1200 .brand-channel .index1.brand-list .refresh-btn {
        width: 148px;
        margin-right: -8px; }
        .w1200 .brand-channel .index1.brand-list .refresh-btn .iconfont {
          position: absolute;
          left: 50%;
          margin-left: -10px;
          width: 20px;
          height: 20px;
          line-height: 20px;
          font-size: 20px;
          top: 6px; }
        .w1200 .brand-channel .index1.brand-list .refresh-btn span {
          display: inline-block;
          font-size: 14px;
          line-height: 75px; }
        .w1200 .brand-channel .index1.brand-list .refresh-btn:hover {
          background: #f42424;
          color: #fff; }
        .w1200 .brand-channel .index1.brand-list .refresh-btn:hover .iconfont {
          animation: rotate .5s ease-out 0s;
          -webkit-animation: rotate .5s ease-out 0s; }
    .w1200 .brand-channel .brand-list {
      float: left;
      width: 716px;
      position: relative;
      margin: 0; }
      .w1200 .brand-channel .brand-list .refresh-btn {
        width: 118px;
        height: 58px;
        display: block;
        color: #999;
        background: #fff;
        float: left;
        position: relative;
        overflow: hidden;
        transition: all .3s ease-out;
        border: 1px solid #f5f5f5;
        margin: -1px -1px 0 0;
        text-align: center; }
      .w1200 .brand-channel .brand-list li {
        width: 148px;
        margin-right: 0px;
        height: 58px;
        float: left;
        overflow: hidden;
        border: 1px solid #f5f5f5;
        text-align: center;
        margin: -1px -1px 0 0;
        position: relative;
        cursor: default;
        background: #fff; }
        .w1200 .brand-channel .brand-list li:hover {
          border-color: #aaaaaa; }
        .w1200 .brand-channel .brand-list li:hover .brand-mash {
          opacity: 1;
          filter: alpha(opacity=100); }
      .w1200 .brand-channel .brand-list .brand-img {
        margin: 0 auto;
        background-color: #fff;
        display: block;
        height: 100%; }
        .w1200 .brand-channel .brand-list .brand-img a {
          display: flex;
          vertical-align: middle;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center; }
          .w1200 .brand-channel .brand-list .brand-img a img {
            width: 100px;
            height: auto; }
      .w1200 .brand-channel .brand-list .brand-mash {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
        background-color: #333;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all .3s ease-out;
        opacity: 0; }
        .w1200 .brand-channel .brand-list .brand-mash .iconfont {
          display: block;
          position: absolute;
          top: 3px;
          right: 3px;
          width: 20px;
          height: 20px;
          color: #fff;
          text-align: center;
          font-size: 14px;
          cursor: pointer;
          z-index: 20;
          -ms-transition: color .3s;
          -webkit-transition: color .3s;
          transition: color .3s; }
        .w1200 .brand-channel .brand-list .brand-mash .coupon {
          color: #fff;
          text-align: center;
          margin-top: 14px;
          line-height: 16px; }
          .w1200 .brand-channel .brand-list .brand-mash .coupon a {
            color: #fff; }

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
