.top{
  height: 30px;
  line-height: 30px;
  background: #eee;
  margin-bottom: 1px;
}
.txt-info {
  float: left;
  margin-left: 15px;
}
.txt-info:hover .link-regist{
  color: #f42828;
}
.txt-info a.link-login {
  padding-right: 12px;
}
.txt-info a.link-regist {
  color: #8c8c8c;
}
.quick-menu li a {
  color: #8c8c8c;
  display: block;
  width: 50px;
}
.quick-menu li{
  float: left;
  padding: 0 4px;
}
.quick-menu li a:hover{
  color: #f42828;
}
.span-line{
  overflow: hidden;
margin: 11px 5px 0;
width: 1px;
height: 10px;
background-color: #ccc;
}