.top {
  width: 1200px;
  height: 30px;
  line-height: 30px;
  background-color: #8c8c8c; }
  .top .txt-info {
    float: left;
    margin-left: 15px; }
    .top .txt-info a.link-login {
      padding-right: 12px; }
    .top .txt-info a.link-regist {
      color: #8c8c8c; }
