.header {
    padding-bottom: 10px;
    background-color: #fff;
    height: 100px;
    position: relative;
    z-index: 10;
}
.logo{
    position: relative;
    margin-right: 30px;
    line-height: 100px;
}
.shop-search {
    float: left;
    margin: 30px 0 0 78px;
    width: 546px;
    position: relative;
}
.shop-search .search-text {
    width: 398px;
    height: 14px;
    padding: 8px;
    border: 2px solid #0084cd;
    outline: 0;
    font-size: 12px;
    float: left;
    color: #999;
    height: 34px;
}
.shop-search #btn {
    border: 0;
    width: 70px;
    height: 34px;
    line-height: 34px;
    background-color: #0084cd;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    float: left;
    outline: 0;
}
.shop-search .keyword {
    float: left;
    width: 100%;
}
.shop-search .keyword li {
    float: left;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
}
.keyword li a:hover{
    color: #0084cd !important;
}
.shop-search .keyword li a {
    display: block;
    color: #999;
}
.shopCart{
    margin-top: 30px;
    position: relative;
}

.shopCart:hover .dorpdown-layer{
    display: block;
}
.shopCart:hover .shop-cm{
    border-bottom: none;
    height: 34px;
}
.shopCart .shopCart-con {
    width: 178px;
    height: 33px;
    line-height: 33px;
    border-color: #d2d2d2;
    position: relative;
    z-index: 999;
    background-color: #fff;
}
.shop-cm {
    border: 1px solid #eee;
    height: 28px;
    line-height: 28px;
}
.shopCart .shopCart-con a {
    display: block;
    color: #f42424;
}
.shopCart .shopCart-con .icon-gouwuche {
    padding-left: 30px;
    font-size: 20px;
    float: left;
    margin-right: 4px;
}
.shopCart .shopCart-con .count{
    min-width: 15px;
    height: 15px;
    line-height: 15px;
    padding: 1px;
    border-radius: 50%;
    background: #f42424;
    color: #fff;
    position: absolute;
    top: 8px;
    left: 122px;
    text-align: center;
    font-size: 12px;
}
.shopCart .dorpdown-layer {
    top: 33px;
    width: 312px;
    z-index: 1;
}
.dorpdown-layer {
    display: none;
    position: absolute;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    right: 0;
    z-index: 1;
}
.settleup-content {
    width: 100%;
    background: #fff;
}
.shopCart .prompt {
    padding: 20px 20px 20px 36px;
}
.shopCart .prompt .nogoods {
    overflow: hidden;
}
.shopCart .prompt b {
    background: url(http://www.hngpmall.com/public/static/theme/images/cart-nogoods.png) no-repeat;
    display: block;
    width: 110px;
    height: 68px;
    float: left;
}