.nav{
    height: 40px;
    font-size: 0;
}
.goods-list{
    height: 500px;
    position: relative;
    z-index: 999;
    display: none;
}
.nav-ul:hover .goods-list{
    display: block;
}
.nav-ul{
    width: 232px;
    height: 40px;
    background-color: #0084cd;
    color: #fff;
    font-size: 16px;
    float: left;
    position: relative;
}
.goods-list>li{
    cursor: pointer;
    height: 71px;
    width: 232px;
    background-color: rgba(0,0,0,0.6);
    padding: 14.5px 16px;
    
}
.goods-list>li>i>img{
    vertical-align: middle;
    display: inline-block;
}
.categorys-title{
    float: left;
    margin-left: 10px;
    width: 173px;
    line-height: 14px;
}
.categorys-title strong {
    display: block;
    font-weight: normal;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}
.categorys-title strong a {
    color: #fff;
    font-size: 14px;
}
.categorys-title span {
    display: block;
    font-size: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.categorys-title span a {
    color: #bfbfbf;
    margin-right: 10px;
    font-size: 14px;
}
.nav-main {
    float: left;
    width: 968px;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
}
.nav-main li {
    float: left;
    margin-left: 30px;
}
.nav-main li a {
    font-size: 16px;
    color: #555;
    display: block;
}
.nav-main li a:hover{
    color:#0084cd !important;
}
.Secondary-menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 232px;
    z-index: 999;
}
.cate-layer-con {
    padding: 20px 20px 28px 18px;
    position: absolute;
    width: 966px;
    min-height: 498px;
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,.1);
    -webkit-transition: top .25s ease;
    transition: top .25s ease;
}
.cate-layer-left {
    float: left;
    width: 704px;
}
.cate_detail {
    margin-top: 20px;
    width: 100%;
}
.cate_detail dl {
    padding-left: 80px;
    position: relative;
    font-size: 12px;
}
.cate_detail dt {
    overflow: hidden;
    position: absolute;
    color: #555;
    left: 0;
    top: 13px;
    width: 70px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* height: 18px; */
}
.cate_detail dd {
    padding: 8px 0;
    overflow: hidden;
    border-bottom: 1px dashed #d2d2d2;
    min-height: 28px;
}
.cate_detail dd a {
    float: left;
    margin: 8px 0;
    padding: 0 10px;
    height: 12px;
    border-left: 1px solid #e0e0e0;
    line-height: 12px;
    white-space: nowrap;
}
.cate-layer-rihgt {
    float: right;
    width: 200px;
}
.cate-brand {
    margin: auto;
    font-size: 0;
}
.cate-brand .img {
    overflow: hidden;
    display: inline-block;
    width: 98px;
    height: 48px;
    border: 1px solid #f9f9f9;
    text-align: center;
    margin: -1px -1px 0 0;
    line-height: 28px;
}
.cate-brand a {
    display: table-cell;
    vertical-align: middle;
    width: 98px;
    height: 48px;
}
.cate-brand a img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: #555;
}
.menu-active{
    background-color: rgba(0,0,0,1) !important;
}
.categorys-title strong:hover a{
    color: #e23435;
}
.categorys-title span a:hover{
    color: #e23435;
}
a:hover {
    color: #f42424;
    text-decoration: none;
}
.service-phone:hover{
    color: #f42424;
}